body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background */
    color: #f0f0f0; /* Light text */
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

h1, h2 {
    color: #f0f0f0; /* Light text */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #f0f0f0; /* Light text */
}

table, th, td {
    border: 1px solid #444; /* Darker border */
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #222; /* Darker background */
}
footer {
    background-color: #333;
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
